body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sign {
    margin-top: 30%;
    border: solid 1px #9d9d9d;
    border-radius: 20%;
    background-color: rgba(139, 135, 157, 0.42);
}

.container {
    width: 35%;
}

.header {
    border: groove;
}

.signbutt {
    width: 50%;
    margin: 0 auto;
    padding: 5%;
}

.pass {
    padding-top: 5%;
}

.signIn {
    text-decoration: none;
    color: white;
    font-size: 1em;
    margin: 9%;
}